@using CarInsurance.ViewModels
@model List<PolicyVM>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h3 class="m-0">Issued Car Insurance Policies</h3>
        </div>
        <div class="card-body">
            @foreach (var policy in Model)
            {
            <div class="row mb-3">
                <div class="col-2">
                    @policy.FirstName
                </div>
                <div class="col">
                    @policy.LastName
                </div>
                <div class="col">
                    @policy.EmailAddress
                </div>
                <div class="col">
                    @policy.TotalCost
                </div>
            </div>
            }
        </div>
    </div>
</div>
